$primary-color: rgba(66,42,42,1);

body, html, ul, ol, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
* {
	box-sizing: border-box;
}

@font-face {
	font-family: "roboto-example";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); 
}

@font-face {
	font-family: "roboto-example";
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); 
}
body {
	font-family: 'roboto-example';
	color: $primary-color;
	line-height: 1.75;
	background-color: #d4d3cf;
}
h1 {
	font-size: 2.7em;
	text-align: center;
}
h2 {
	font-size: 1.1em;
	line-height: 1.2;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}
.app {
  overflow-x: hidden;
	position: relative;
}
.wrapper-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 4;
}
.nav-ul {
	position: absolute;
	top: 20%;
	padding: 0;
	z-index: 3;
	transition: all .5s;
}
.nav_li {
  cursor: pointer;
  margin-top: 5px;
  margin-left: -3px;
  float: left;
  clear: both;
  text-align: right;
}
.nav-a {
	font-size: 20px;
	padding: 10px 30px;
	color: rgba(66,42,42,1);
	text-decoration: none;
	text-transform: uppercase;
	float: right;
	margin-right: 10%;
	display: inline-block;
	border: 1px solid rgba(66,42,42,1);
	border-radius: 5px;
	transition: all .5s;
	width: 100%;
}
.nav-a:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(66,42,42,1);
}
.active-menu {
  color: #fff;
}
.active-menu-a {
  padding-left: 60px;
  color: #fff;
  text-decoration: none;
  background: rgba(66,42,42,1);
}
.hamburger {
	display: none;
	position: relative;
	z-index: 4;
	width: 25px;
	height: 20px;
	left: 5px;
}
.hamburger-checkbox {
	display: none;
}
.hamburger-label {
	width: 26px;
	height: 20px;
}
.hamburger-btn {
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 4;
	cursor: pointer;
	margin-left: 100px;
}
.hamburger:before {
	content: '';
	display: block;
	position: relative;
	top: 20px;
	width: 26px;
	height: 14px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transition: all .5s;
	transform-origin: 19px;
	transform: rotate(-45deg) translate(2px, 2px);
	border-bottom: none;
	margin-left: 100px;
}
.hamburger:after {
	content: '';
	display: block;
	position: relative;
	width: 26px;
	height: 2px;
	border-top: 2px solid #fff;
	bottom: 10px;
	transition: all .5s;
	transform: rotate(45deg);
	margin-left: 100px;
}
.copyright {
	font-size: 1.15em;
	position: absolute;
	letter-spacing: 1px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	bottom: 55px;
}
.button {
	color: #eee;
	font-size: 1.15em;
	text-transform: uppercase;
	line-height: 1.75;
	letter-spacing: 2px;
	padding: 10px 40px;
	margin-top: 10px;
	background-color: rgba(66, 42, 42, .85);
	border: 2px solid $primary-color;
	border-radius: 5px;
	cursor: pointer;
	transition: all .5s;
}
.button:hover {
	background-color: $primary-color;
	color: #fff;
}
.h1-spec {
	font-size: 2.2em;
	letter-spacing: 2px;
}
.h1-name {
	letter-spacing: 3px;
	font-size: 2.2em;
}

@keyframes bg {
	0% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	100% {
		-moz-transform: translate3d(-3840px,0,0);
		-webkit-transform: translate3d(-3840px,0,0);
		-o-transform: translate3d(-3840px,0,0);
		-ms-transform: translate3d(-3840px,0,0);
		transform: translate3d(-3840px,0,0);
	}
}
.home-page {
  padding-top: 9%;
}
.first-screen-bg {
  z-index: -1;
  background-image: url('../images/bg.jpg');
  animation: bg 180s linear infinite;
  min-width: 100%;
  min-height: 100vh;
  transform: translate3d(0,0,0);
  background-position: top left;
  background-repeat: repeat-x;  
  height: 100%;  
  left: 0;  
  opacity: 1;  
  position: absolute;  
  top: 0;  
  background-size: auto;  
  width: 11520px;
}
.first-screen {
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
	padding-bottom: 150px;
}
.second-screen {
	margin-top: -100vh;
	padding-bottom: 150px;
	min-height: 100vh;
}
.home-page_mail {
	color: rgba(66,42,42,1);
	font-size: 1.4em;
	display: block;
	margin-bottom: 25px;
	margin-top: 10px;
}
.home-page_desc {
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.social-ul {
	margin-top: 20px;
}
.social-li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.social-img {
	width: 100%;
	width: 48px;
	height: 48px;
	filter:	drop-shadow(0 0 15px rgba(0, 0, 0, .5));
	transition: all .2s;
}
.social-img:hover {
	filter:	drop-shadow(0 0 15px rgba(0, 0, 0, 1));
	transform: scale(1.15);
}
.popup {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
	z-index: 5;
}
.home-popup {
	max-width: 300px;
	margin: 0 auto;
	margin-top: 10%;
}
.home-popup .button {
	color: #fff;
	border: 2px solid #fff;
}
.home-popup .button:hover {
	background-color: #fff;
	color: $primary-color;
}
.close-btn {
	text-align: right;
	color: #fff;
	cursor: pointer;
}
.popup-active {
	display: block;
}
.second-screen_in {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
}
.portfolio-nav {
	margin-left: 20px;
}
.portfolio-nav_li {
	color: #fff;
	display: inline-block;
	background-color: rgba(90, 60, 60, .9);
	padding: 5px 20px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	float: left;
	box-shadow: inset 0 -3px 7px rgba(50,50,50,.1);
}
.portfolio-li-active {
	background-color: rgba(60, 30, 30, 0.9);
	box-shadow: none;
}
.portfolio-list {
	background-color: rgba(60, 30, 30, .9);
	clear: both;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.portfolio-item {
	border: 1px solid silver;
	flex-basis: 30%;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-bottom: 45px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	cursor: pointer;
	transition: all .1s;
	overflow: hidden;
	position: relative;
}
.portfolio-item-a {
	color: #fff;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
	padding: 10px;
}
.portfolio-item:hover {
	box-shadow: 0 0 15px rgba(0,0,0,.3);
	background-color: rgba(240, 240, 240, .3);
}
.portfolio-item-img-wrap {
	max-width: 100%;
	height: 190px;
	overflow: hidden;
}
.portfolio-item-img {
	max-width: 100%;
}
.portfolio-item-title {
	text-align: center;
}
.portfolio-item-desc {
	line-height: 20px;
	font-size: 14px;
	height: 60px;
	overflow: hidden;
	position: relative;
}
.portfolio-item-button {
	font-size: .8em;
	letter-spacing: 1px;
	padding: 5px 20px;
	border: 1px solid $primary-color;
	margin-bottom: 10px;
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.contacts-desc {
	text-align: center;
	font-size: 1.4em;
}
.contacts-wrap {
	display: flex;
}
.contacts-item {
	flex-basis: 50%;
}
.contacts-social {
	display: flex;
	flex-direction: column;
}
.contacts-social .social-img:hover {
	filter:	drop-shadow(0 0 15px rgba(0, 0, 0, 1));
	transform: scale(1);
}
.contacts-social-item {
	margin-top: 30px;
}
.contacts-item:first-child {
	flex: 1;
}
.contacts-item:last-child {
	flex: 1.5;
}
.contacts-social-item a {
	text-decoration: none;
	color: $primary-color;
	font-size: 28px;
	line-height: 40px;
	vertical-align: middle;
}
.contacts-social-item img {
	position: relative;
	top: 8px;
	margin-right: 10px;
}
.textarea {
	display: block;

}
.contacts-form {
	display: flex;
	flex-direction: column;
}
.input {
	color: $primary-color;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	padding: 20px;
	background-color: rgba(255,255,255,.8);
	font-size: 1.2em;
}
.textarea  {
	color: $primary-color;
	resize: none;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
	background-color: rgba(255,255,255,.8);
	min-height: 200px;
	font-size: 1.2em;
}
.message {
	position: fixed;
	right: 0;
	top: 50px;
	z-index: 6;
}
.message-text {
	background-color: rgba(60, 40, 40, .8);
	padding: 20px 40px;
	color: #fff;
	border-radius: 5px 0 0 5px;
	z-index: 6;
	overflow: hidden;
}

@media only screen and (max-width : 1585px) {
	.second-screen_in {
		max-width: 992px;
	}
}

@media only screen and (max-width : 1375px) {
	.second-screen_in {
		max-width: 870px;
	}
}

@media only screen and (max-width : 1255px) {
	.second-screen_in {
		max-width: 640px;
	}
	.portfolio-item {
		flex-basis: 46%;
	}
	.contacts-social-item a {
		font-size: 20px;
	}
	.contacts-social-item img {
		width: 34px;
		height: 34px;
	}
}

@media only screen and (max-width : 1200px) {
	h1 {
		font-size: 2.5em;
	}
}

@media only screen and (max-width : 1025px) {
	.second-screen_in {
		max-width: 580px;
	}
	.contacts-item:last-child {
		flex: 1;
	}
}

@media only screen and (max-width : 992px) {
	h1 {
		font-size: 2.2em;
	}
	.nav-a {
		padding: 5px 25px;
		font-size: 16px;
	}
	.home-page_desc {
		font-size: 1.2em;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.home-page_mail {
		font-size: 1.2em;
	}
	.button {
		font-size: 0.95em;
	}
	.copyright {
		display: none;
	}
}

@media only screen and (max-width : 870px) {
	h1 {
		font-size: 1.8em;
	}
	.h1-name {
		padding: 0 10px;
	}
	.second-screen_in {
		max-width: 860px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.hamburger {
		display: block;
	}
	.nav-ul {
		position: fixed;
		top: 0;
		height: 100vh;
		background-color: rgba(0,0,0,.7);
		padding-top: 40px;
	}
	.nav_li {
		text-align: left;
	}
	.nav-a {
		border: none;
		width: 140px;
		margin-right: 0;
		color: rgba(240, 240, 240, 1);
		border-radius: 0;
	}
	.nav-a:hover {
		background: rgba(0,0,0,.7);
	}
	.active-menu-a {
		background-color: rgba(0,0,0,.7);
	}
	.nav-li {
		position: relative;
	}
	.hamburger-checkbox:checked ~ .nav-ul {
		margin-left: -180px;
	}
	.hamburger-checkbox:checked ~ .hamburger:before {
		transform: rotate(0) translate(0, 0);
		border-top: 2px solid $primary-color;
		border-bottom: 2px solid $primary-color;
		margin-left: 0;
	}
	.hamburger-checkbox:checked ~ .hamburger:after {
		transform: rotate(0);
		border-top: 2px solid $primary-color;
		margin-left: 0;
	}
	.hamburger-checkbox:checked ~ .hamburger .hamburger-btn {
		margin-left: 0;
	}
}
@media only screen and (max-width : 690px) {
	.portfolio-item-button {
		font-size: .75em;
	}
}
@media only screen and (max-width : 570px) {
	.portfolio-item-title {
		font-size: 1em;
	}
	.contacts-wrap {
		flex-direction: column;
	}
	.contacts-social-item {
		margin-top: 15px;
	}
	.contacts-item:last-child {
		margin-top: 20px;
	}
}
@media only screen and (max-width : 490px) {
	h1 {
		font-size: 1.7em;
	}
	.portfolio-item {
		flex-basis: 90%;
	}
}
@media only screen and (max-width : 370px) {
	.portfolio-nav_li {
		padding: 5px 10px;
	}
}